body {
    display: flex;
    background: rgb(133, 217, 213);
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 200px;
    margin-top: 50px;
    border-radius:25px;
    border: 1px solid green;
    background: rgb(193, 247, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sel-Area {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.player-sel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 40px;
    margin-right: 36px;
}

.ia-sel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 105px;
    height: 40px;
}

.score {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

fieldset {
    padding-top: 15px;
    border: none;
}

.player-border {
    border: green 3px solid;
    border-radius: 20%;
}

.ai-border {
    border: rgb(140, 19, 19) 3px solid;
    border-radius: 20%;
}